<div class="card">
  <div class="bi-card-heading"></div>
  <div class="card-body">
    <section class="py-5">
      <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
          <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"></div>
            <h1 class="fw-bolder">Modifier l'Offre</h1>
<!--            <p class="lead fw-normal text-muted mb-0">Let's work together!</p>-->
          </div>

          <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">

              <form id="contactForm" data-sb-form-api-token="API_TOKEN" [formGroup]="updateFormGroup" (ngSubmit)="updateOffre(offreId)"><!--[ngClass]="{'d-none':(!premiereForm)}"-->
                <div class="form-floating mb-3">
                  <input class="form-control" formControlName="title" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" value="{{offre.title}}" />

                  <label for="name">Title</label>
                  <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="" formControlName="date_offre" type="date" placeholder="Enter your name..." data-sb-validations="required" value="{{offre.date_offre}}"/>
                  <label for="name">Date</label>
                  <div class="invalid-feedback" data-sb-feedback="name:required">A date is required.</div>
                </div>

                <div class="form-floating mb-3">
                  <textarea class="form-control" formControlName="description" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                  <label for="message">Description</label>
                  <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                </div>
                <div class="form-check form-switch">
                  <input formControlName="publication" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Publier</label>
                </div>
                <div class="d-none" id="submitSuccessMessage">
                  <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                  </div>
                </div>
                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                <!-- Submit Button-->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button  class="btn btn-primary me-md-2" id="submitButton" type="submit" mdbRipple>
                    <i class="fas fa-arrow-right">Update</i> </button></div>
              </form>
            </div>
          </div>
<!--          <div *ngFor="let updateoffreSkills of updateSkillsOffreFormGroup;let i = index" class="row gx-5 justify-content-center">-->
<!--            <div class="col-lg-8 col-xl-6">-->
<!--              <form id="forme1" data-sb-form-api-token="API_TOKEN" [formGroup]="updateoffreSkills" >-->
<!--                &lt;!&ndash; Name input&ndash;&gt;-->
<!--                <div class="form-floating mb-3">-->
<!--                  <input class="form-control mb-3 mt-3"  formControlName="nom_Skill" id="name1" type="text" placeholder="Enter your skills..." data-sb-validations="required" />-->
<!--                  <label >skills</label>-->
<!--                </div>-->
<!--                <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--                  <button  class="btn btn-primary me-md-2"  type="submit" mdbRipple>&lt;!&ndash;[disabled]="!updateSkillsOffreFormGroup.valid" &ndash;&gt;-->
<!--                    <i class="fas fa-arrow-right">Next</i> </button>-->
<!--                  <button class="btn btn-primary me-md-2">-->
<!--                    &lt;!&ndash;(click)="incrementFunc()"> &ndash;&gt;-->
<!--                    <i class="fas fa-arrow-right">Ajouter des certifs</i> </button></div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="row gx-5 justify-content-center">-->
<!--            <div class="col-lg-8 col-xl-6">-->
<!--              <form id="forme1" data-sb-form-api-token="API_TOKEN" [formGroup]="newSkillsOffreFormGroup" [ngClass]="{'d-none':(!premiereForm)&&(!troisiemForm)}" (ngSubmit)="addNewSkiilsOffre()">-->
<!--                &lt;!&ndash; Name input&ndash;&gt;-->
<!--                <div class="form-floating mb-3">-->
<!--                  <input class="form-control mb-3 mt-3"  formControlName="nom_Skill" id="name1" type="text" placeholder="Enter your skills..." data-sb-validations="required" />-->
<!--                  <label >skills</label>-->
<!--                </div>-->
<!--                <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--                  <button [disabled]="!newSkillsOffreFormGroup.valid" class="btn btn-primary me-md-2"  type="submit" mdbRipple>-->
<!--                    <i class="fas fa-arrow-right">Next</i> </button>-->
<!--                  <button class="btn btn-primary me-md-2" (click)="incrementFunc()">-->
<!--                    <i class="fas fa-arrow-right">Ajouter des certifs</i> </button></div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash;   certifs&ndash;&gt;-->
<!--          <div class="row gx-5 justify-content-center">-->
<!--            <div class="col-lg-8 col-xl-6">-->
<!--              <form  data-sb-form-api-token="API_TOKEN" [formGroup]="newCertOffreFromGroup" [ngClass]="{'d-none':!deuxiemForm}" (ngSubmit)="addNewCertif()" >-->
<!--                &lt;!&ndash; Name input&ndash;&gt;-->
<!--                <div class="form-floating mb-3">-->
<!--                  <input class="form-control mb-3 mt-3" formControlName="nom_certif" type="text" placeholder="Enter your certifs.." data-sb-validations="required"  />-->
<!--                  <label for="name">certifes</label>-->
<!--                  <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
<!--                </div>-->
<!--                <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--                  <button  class="btn btn-primary me-md-2"  type="submit" mdbRipple>-->
<!--                    <i class="fas fa-arrow-right">Next</i> </button></div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->

          <!--      <div class="row gx-5 justify-content-center">-->
          <!--        <div class="col-lg-8 col-xl-6">-->
          <!--          <form  data-sb-form-api-token="API_TOKEN"  [ngClass]="{'d-none':!premiereForm}" >-->
          <!--            &lt;!&ndash; Name input&ndash;&gt;-->
          <!--            <div class="form-floating mb-3">-->
          <!--              <input class="form-control mb-3 mt-3"  type="text" placeholder="Enter your experiences.." data-sb-validations="required" />-->
          <!--              <label for="name">experiences</label>-->
          <!--              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
          <!--            </div>-->
          <!--            <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
          <!--              <button  class="btn btn-primary me-md-2"  type="submit" mdbRipple>-->
          <!--                <i class="fas fa-arrow-right">Next</i> </button></div>-->
          <!--          </form>-->
          <!--        </div>-->
          <!--      </div>-->
        </div>
      </div>

    </section>
  </div>
</div>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
      <div class="col-auto">
        <a class="small" href="#!">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Terms</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Contact</a>
      </div>
    </div>
  </div>
</footer>
